version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'

  - package-ecosystem: 'npm'
    allow:
      - dependency-type: 'direct'
    directory: '/'
    open-pull-requests-limit: 5
    schedule:
      interval: 'daily'
    versioning-strategy: 'increase'
    groups:
      dev-dependencies:
        patterns:
          - '*'
