{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "array-bracket-spacing": ["error", "always"],
    "camelcase": "error",
    "global-require": "error",
    "no-console": "warn",
    "no-debugger": "warn",
    "no-duplicate-imports": "error",
    "no-eq-null": "error",
    "no-extra-parens": "error",
    "no-return-assign": "error",
    "no-template-curly-in-string": "error",
    "no-trailing-spaces": "error",
    "no-useless-constructor": "error",
    "object-curly-spacing": ["error", "always"],
    "react/display-name": 0,
    "react/no-deprecated": 0,
    "react/no-find-dom-node": 0,
    "react/no-is-mounted": 0,
    "react/no-string-refs": 0,
    "react/prop-types": 0
  }
}
