html {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus:not(:focus-visible) {
  outline: none;
}
body {
  margin: 2em;
  font-size: 1.6rem;
  font-family: monospace;
  line-height: 1.5;
  color: #333;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
figure {
  margin: 0;
}
h1 {
  line-height: initial;
}
h2 {
  margin-top: 4rem;
}
img {
  display: block;
  max-width: 100%;
}
.mw-600 {
  max-width: 60rem;
}
.jk [data-rmiz-btn-zoom],
.jk [data-rmiz-btn-unzoom],
.jk [data-rmiz-content] img,
.jk [data-rmiz-modal-img] {
  cursor: default;
}
.change-icons [data-rmiz-btn-zoom] {
  bottom: 10px;
  top: initial;
}
.change-icons [data-rmiz-btn-zoom],
.change-icons [data-rmiz-btn-unzoom] {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  color: #000;
}
.custom-zoom [data-rmiz-modal-overlay],
.custom-zoom [data-rmiz-modal-img] {
  transition-duration: 0.8s;
  transition-timing-function: linear;
}
.custom-zoom [data-rmiz-modal-overlay="hidden"] {
  background-color: rgb(56, 58, 89, 0);
}
.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: rgb(56, 58, 89, 1);
}
.custom-zoom [data-rmiz-btn-unzoom] {
  background-color: #bd93f9;
  color: #000;
}
.custom-zoom [data-rmiz-btn-unzoom]:focus-visible {
  outline-offset: 0.4rem;
  outline: 0.2rem solid #bd93f9;
}
.data-uri-img [data-rmiz-btn-zoom] {
  height: 15px;
  padding: 3px;
  right: -15px;
  top: -10px;
  width: 15px;
  line-height: 0;
}
.zoom-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 1.4rem;
  padding: 1.7rem 2.5rem;
  opacity: 0.0001;
  transition: opacity 0.3s;
}
.zoom-caption--loaded {
  opacity: 1;
}
.zoom-caption--bottom {
  inset: auto 0 0 0;
}
.zoom-caption--left {
  max-width: 40rem;
  top: 50%;
  transform: translateY(-50%);
}
.zoom-caption-cite {
  display: block;
  margin-top: 1.5rem;
}
.zoom-caption-link {
   color: #fff;
   text-underline-offset: 0.5rem;
}
