html {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 2em;
  font-size: 1.6rem;
  font-family: monospace;
  line-height: 1.5;
  color: #333;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
figure {
  margin: 0;
}
h1 {
  line-height: initial;
}
h2 {
  margin-top: 4rem;
}
img {
  display: block;
  max-width: 100%;
}
.mw-600 {
  max-width: 60rem;
}
.jk [data-rmiz-btn-zoom],
.jk [data-rmiz-btn-unzoom],
.jk [data-rmiz-content] img,
.jk [data-rmiz-modal-img] {
  cursor: default;
}
.change-icons [data-rmiz-btn-zoom] {
  bottom: 10px;
  top: initial;
}
.change-icons [data-rmiz-btn-zoom],
.change-icons [data-rmiz-btn-unzoom] {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  color: #000;
}
.data-uri-img [data-rmiz-btn-zoom] {
  height: 15px;
  padding: 3px;
  right: -15px;
  top: -10px;
  width: 15px;
  line-height: 0;
}
